.enter {
    background-color: red;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterBox {
    background-color: #fff;
    width: 60%;
    height: 80%;
}
.enterHeader {
    height: 15%;
}

.enterBody {
    height: 85%;
}

.enterLogin {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.enterRegister {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
