/* 页面大容器 */
.welcomeBox {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------居中的盒子-------------- */
.welcome {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    height: 700px;
    width: 1300px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.8);
}
/* --------------盒子左侧图片区------------------- */
.display {
    background-color: rgba(0, 128, 115, 0.85);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    user-select: none;
    color: #ccc;
    text-shadow: 4px 4px 4px #000;
}

.intro {
    font-size: 74px;
    font-family: 'shouye2';
}

/* --------------盒子右侧登录区------------------ */

.enter {
    /* background-color: #00685d; */
    background-color: rgba(0, 104, 93, 0.85);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'yu400';
}

.enterBox {
    /* background-color: #009688; */
    border-radius: 20px;
    overflow: hidden;
    width: 460px;
    height: 520px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.8);
}
.enterHeader {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.welNav {
    font-size: 32px;
    color: #ccc;
    text-shadow: 2px 2px 4px #000;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #009688;
    user-select: none;
    cursor: default;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.welNav:hover {
    background-color: #006e63;
    color: #fff;
}

.enterBody {
    height: 450px;
    background-color: #00b6a4;
}

@media all and (max-width: 1024px) {
    .welcome {
        width: 90%;
        box-shadow: none;
        /* overflow: hidden; */
    }
    .display {
        display: none;
    }
    .enter {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .enterBox {
        width: 100%;
        box-shadow: none;
    }
}
