.Me {
    width: 100%;
    height: 70px;
    font-size: 36px;
    border-bottom: 3px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 20px;
    user-select: none;
    text-shadow: 3px 3px 3px #000;
}
/* 头像昵称标题 */
.headName {
    position: relative;
    margin: auto;
    width: 750px;
    height: 52px;
    border-bottom: 2px solid #ccc;
    text-shadow: 3px 3px 3px #000;
    user-select: none;
    /* background-color: #fff; */
}

.headName span {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    font-weight: 700;
}

/* 修改头像的大盒子 */
.updateAvatarBox {
    position: relative;
    width: 100%;
    height: 260px;
    /* background-color: #000; */
}

.meAvatarBox {
    position: absolute;
    top: 20px;
    left: 50%;
    /* background-color: #fff; */
    transform: translate(-50%, 0);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.meAvatar {
    height: 180px;
    width: 180px;
}

.loading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-120px, 0);
    height: 46px;
    width: 46px;
    font-size: 26px;
    text-align: center;
    line-height: 46px;
}

.upToCOSBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-56px, 0);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-align: center;
    line-height: 46px;
    user-select: none;
    font-size: 26px;
    font-weight: 700;
}

.upToCOSInput {
    display: none;
}

.updateAvatarBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translate(-50%, 0); */
    transform: translate(10px, 0);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-align: center;
    line-height: 46px;
    user-select: none;
    font-size: 26px;
    font-weight: 700;
}

.upToCOSBtn:hover,
.updateAvatarBtn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7) inset;
    background-color: #009688;
}

/* 修改个人信息的大盒子 */
.updateInfoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    /* background-color: #fff; */
}

/* 修改昵称、用户名的盒子 */
.nameBox {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.nameBox:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.inputName {
    width: 100%;
    height: 50px;
    padding: 0 50px 0;
    font-size: 20px;
    background-color: #00c9b5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.inputName:focus {
    background-color: #009688;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.inputName:focus::-webkit-input-placeholder,
.inputName::-webkit-input-placeholder {
    color: rgb(219, 216, 216);
}

.inputName:focus:-moz-placeholder,
.inputName::-webkit-input-placeholder {
    color: rgb(219, 216, 216);
}

.inputName:focus::-moz-placeholder,
.inputName::-webkit-input-placeholder {
    color: rgb(219, 216, 216);
}

.inputName:focus:-ms-input-placeholder,
.inputName::-webkit-input-placeholder {
    color: rgb(219, 216, 216);
}

.updateNameBtn {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #00b4a2;
    box-shadow: 0 0 14px rgb(0, 0, 0) inset;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.updateNameBtn:hover {
    background-color: rgb(0, 228, 38);
}
