.enterHeader {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

.enterLogin {
    height: 100%;
    width: 50%;
    background-color: #ccc;
}
.enterRegister {
    height: 100%;
    width: 50%;
    background-color: #aaa;
}
