@import '../../styles/variation.scss';

.none {
    user-select: none;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    color: $lighter;
}

@media all and (max-width: 1000px) {
    .none {
        height: calc(100% - 0.7rem);
        font-size: 0.24rem;
    }
}
