.taskType {
    width: 100%;
    height: 70px;
    font-size: 36px;
    border-bottom: 3px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 20px;
    user-select: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
.taskTypeDark {
    color: rgb(177, 177, 177);
    border-bottom: 3px solid rgb(177, 177, 177);
}

/* 输入框包裹的盒子 */
.inputBox {
    height: 120px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.inputBoxDark {
    border-bottom: 2px solid rgb(177, 177, 177);
}
/* 输入框 */
.inputTask {
    width: 100%;
    height: 50px;
    padding: 0 110px 0;
    font-size: 22px;
    background-color: #00c9b5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: rgb(243, 243, 243);
}
.inputTaskDark {
    background-color: #0d2a44;
    color: rgb(177, 177, 177);
}
.inputTask:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}
.inputTaskDark:hover {
    box-shadow: 0 0 16px rgba(0, 109, 211, 0.8);
}
/* ---------------------- */
.inputTask:focus {
    background-color: #009688;
}
.inputTaskDark:focus {
    background-color: #0e497c;
}
/* --------------------------------------------------------- */
.inputTask:focus::-webkit-input-placeholder,
.inputTask::-webkit-input-placeholder {
    color: rgb(243, 243, 243);
}

.inputTask:focus:-moz-placeholder,
.inputTask::-moz-placeholder {
    color: rgb(243, 243, 243);
}

.inputTask:focus::-moz-placeholder,
.inputTask::-moz-placeholder {
    color: rgb(243, 243, 243);
}

.inputTask:focus:-ms-input-placeholder,
.inputTask::-ms-input-placeholder {
    color: rgb(243, 243, 243);
}
/* ------------------------------------------------------- */
.inputTaskDark:focus::-webkit-input-placeholder,
.inputTaskDark::-webkit-input-placeholder {
    color: rgb(177, 177, 177);
}

.inputTaskDark:focus:-moz-placeholder,
.inputTaskDark::-moz-placeholder {
    color: rgb(177, 177, 177);
}

.inputTaskDark:focus::-moz-placeholder,
.inputTaskDark::-moz-placeholder {
    color: rgb(177, 177, 177);
}

.inputTaskDark:focus:-ms-input-placeholder,
.inputTaskDark::-ms-input-placeholder {
    color: rgb(177, 177, 177);
}
/* ------------------------------------------------------- */

.taskNull {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
.taskNullDark {
    color: rgb(177, 177, 177);
}
.taskNullIcon {
    font-size: 60px;
}
.taskNullText {
    font-size: 24px;
}

/* 任务列表ul */
.taskBox {
    padding: 10px 0;
    margin-bottom: 0;
}

.taskBox li {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    width: 90%;
    height: 50px;
    margin: 20px auto 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.taskBox li:hover {
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
}
#taskLiDark:hover {
    box-shadow: 0 0 16px rgba(0, 109, 211, 0.8);
}

/* 完成按钮 */
.taskDoneBtn {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #00b4a2;
    box-shadow: 0 0 14px rgb(0, 0, 0) inset;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.taskDoneBtnDark {
    background-color: #004b91;
    /* color: rgb(177, 177, 177); */
}
.taskDoneBtn:hover {
    background-color: rgb(0, 228, 38);
}
.taskDoneBtnDark:hover {
    background-color: rgb(0, 158, 26);
}

/* 编辑框 */
.taskBox li .taskEdit {
    border-radius: 25px;
    text-align: center;
    font-size: 22px;
    height: 50px;
    width: 100%;
    padding: 0 110px 0;
    background-color: #00c9b5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.taskBox li .taskEditDark {
    background-color: #0d2a44;
    color: rgb(177, 177, 177);
}

.taskBox li .taskEdit:focus {
    background-color: #009688;
}
.taskBox li .taskEditDark:focus {
    background-color: #0e497c;
}

/* 转变时效按钮 */
.transTaskBtn {
    position: absolute;
    right: 50px;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #00b4a2;
    box-shadow: 0 0 14px rgb(0, 0, 0) inset;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.transTaskBtnDark {
    background-color: #004b91;
}
.transTaskBtn:hover {
    background-color: rgb(235, 231, 29);
}
.transTaskBtnDark:hover {
    background-color: rgb(202, 199, 11);
}

/* 删除按钮 */
.taskDeleteBtn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #00b4a2;
    box-shadow: 0 0 14px rgb(0, 0, 0) inset;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.taskDeleteBtnDark {
    background-color: #004b91;
}
.taskDeleteBtn:hover {
    background-color: red;
}
.taskDeleteBtnDark:hover {
    background-color: rgb(167, 0, 0);
}

@media all and (max-width: 1024px) {
    .taskType {
        font-size: 20px;
        height: 50px;
    }
    .inputBox {
        height: 70px;
        width: 94%;
    }
    .inputTask {
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 0 40px 0;
        border-radius: 16px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }
    .taskNull {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        user-select: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }
    .taskNullIcon {
        font-size: 40px;
    }
    .taskNullText {
        font-size: 18px;
    }
    .taskBox li {
        border-radius: 16px;
        width: 94%;
        height: 32px;
        margin: 0 auto 16px;
    }
    .taskBox li .taskDoneBtn {
        font-size: 14px;
        width: 32px;
        height: 32px;
    }
    .taskBox li .taskEdit {
        border-radius: 16px;
        font-size: 14px;
        height: 32px;
        padding: 0 70px 0;
        pointer-events: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .transTaskBtn {
        right: 32px;
        font-size: 14px;
        width: 32px;
        height: 32px;
    }
    .taskBox li .taskDeleteBtn {
        font-size: 14px;
        width: 32px;
        height: 32px;
    }
}
