/* --------------------内容大盒子-------------------- */
.contentBox {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    color: rgb(243, 243, 243);
    font-family: 'yu100';
}

@media all and (max-width: 1024px) {
    .contentBox {
        width: 100%;
    }
}
