* {
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

input,
button {
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
}

img {
    -webkit-user-drag: none;
}

/* html {
    font-size: 100px;
} */
