/* 容器大盒子 */
.outlineBox {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to top, #00b3a1, #19534e);
    position: relative;
    z-index: 2;
    box-shadow: 0 0 14px #000;
    color: rgb(243, 243, 243);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-family: 'yu400';
}

#outlineBoxDark {
    background-image: linear-gradient(to top, #002446, #000000);
    color: rgb(207, 207, 207);
}

/* 头像盒子 */
.avatarBox {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: rgb(232, 245, 239); */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.outlineAvatar {
    width: 100%;
    height: 100%;
}

/* 语句盒子 */
.leftWords {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 180px;
    /* background-color: #fff; */
}

/* 欢迎语句 */
.welcomeUser {
    font-size: 36px;
    /* font-weight: 700; */
    user-select: none;
}
/* 提示时间语句 */
.timeText {
    font-size: 20px;
    user-select: none;
}

/* app标题 */
.appHead {
    height: 120px;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 88px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
    user-select: none;
    font-family: 'shouye2';
}

.rightWords {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 190px;
    user-select: none;
}

.timeBox {
    font-size: 36px;
    font-weight: 700;
}

/* 累计完成任务个数 */
.doneCountText {
    font-size: 18px;
}
.doneCount {
    font-weight: 700;
    color: red;
}

/* 黑暗模式 */
.darkMode,
.sunMode {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 130px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.sunMode:hover {
    color: rgb(238, 89, 52);
}
.darkMode:hover {
    color: rgb(13, 61, 194);
}
.icon-sun:before {
    content: '\e901';
}
.icon-moon:before {
    content: '\e900';
}

/* 退出按钮 */
.logoutBtn {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    background-color: #007267;
    border-radius: 50%;
    font-size: 26px;
    /* font-weight: 700; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0 0 15px rgb(0, 0, 0) inset;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.logoutBtn:hover {
    background-color: red;
}
#logoutBtnDark {
    background-color: #001427;
}
#logoutBtnDark:hover {
    background-color: red;
}

@media all and (max-width: 1024px) {
    .outlineBox {
        height: 90px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .avatarBox {
        left: 10px;
        width: 60px;
        height: 60px;
    }
    .leftWords {
        left: 80px;
    }
    .appHead,
    .timeBox,
    .timeText {
        display: none;
    }
    .welcomeUser {
        font-size: 18px;
    }
    .rightWords {
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .doneCountText {
        position: absolute;
        font-size: 14px;
        left: 80px;
        bottom: 6px;
    }
    .logoutBtn {
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .darkMode,
    .sunMode {
        width: 40px;
        height: 40px;
        right: 60px;
        font-size: 40px;
    }
}
