.CenterBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 900px; */
    width: 1024px;
    background-color: rgba(0, 168, 151, 0.85);
    filter: blur(10px);
}
#CenterBoxDrak {
    background-color: rgba(0, 20, 39, 0.85);
}

@media all and (max-width: 1024px) {
    .CenterBox {
        width: 100%;
        filter: blur(0);
    }
}
