/* ---------------------------------左侧导航栏---------------------------- */
.nav {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 120px;
    bottom: 0;
    width: 50px;
    /* height: 100%; */
    background-color: rgb(38, 255, 154);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.nav:hover {
    width: 150px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
}

.nav ul {
    overflow: hidden;
    width: 100%;
}

.nav li {
    overflow: hidden;
    width: 150px;
    height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.nav li:hover {
    background-color: rgb(6, 57, 133);
}

/* 路由链接 */
.homeNav {
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.iconBox {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li:hover .homeNav {
    color: #fff;
}

.nav li .text {
    /* background-color: yellow; */
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
