/* ---------------------------------左侧导航栏---------------------------- */
.nav {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 120px;
    bottom: 0;
    width: 50px;
    background-image: linear-gradient(to left, #009688, #19534e);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#navDark {
    background-image: linear-gradient(to right, #000000, #00284e);
}

.nav:hover {
    width: 150px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
}

.nav ul {
    overflow: hidden;
    width: 100%;
}

.nav li {
    overflow: hidden;
    width: 150px;
    height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.nav li:hover {
    background-color: #08423d;
}

.nav #navLiDark:hover {
    background-color: #002d57;
}

/* 路由链接 */
.homeNav {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #ccc;
    text-shadow: 2px 2px 4px #000;
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.iconBox {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li:hover .homeNav {
    color: #fff;
}

.nav li .text {
    /* background-color: yellow; */
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1024px) {
    .nav {
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 50px;
        top: calc(100% - 50px);
    }
    .nav ul {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .nav li {
        display: flex;
        width: calc(100vw / 4);
        height: 50px;
    }
    .homeNav {
        display: flex;
        justify-content: center;
    }

    .nav li .text {
        display: none;
    }
    .nav:hover {
        width: 100%;
        box-shadow: none;
    }
}
