.footer {
    position: relative;
    z-index: 2;
    height: 80px;
    background-image: linear-gradient(to top, #0b2422, #059fa1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #ccc;
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0 0 14px #000;
}

#footerDark {
    background-image: linear-gradient(to top, #000000, #00162b);
}

.appName {
    font-size: 18px;
    font-weight: 700;
}

.author {
    font-size: 14px;
}
.author .authorName {
    color: #ccc;
}

.author .authorName:hover {
    font-weight: 700;
    color: red;
}

/* 今日诗句 */
.todayPoem {
    /* background-color: #fff; */
    height: 20px;
    line-height: 20px;
}

.poemWords {
    font-size: 18px;
    font-weight: 700;
}

.poemTitle {
    font-size: 14px;
    text-align: right;
}

@media all and (max-width: 1024px) {
    .footer {
        display: none;
    }
}
