.footer {
    position: relative;
    z-index: 2;
    height: 80px;
    background-image: linear-gradient(to top, #0b2422, #059fa1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: rgb(243, 243, 243);
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0 0 14px #000;
    font-family: 'yu100';
}

#footerDark {
    background-image: linear-gradient(to top, #000000, #00162b);
    color: rgb(177, 177, 177);
}

.authorName,
.icpInfo {
    font-size: 14px;
    color: rgb(243, 243, 243);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#authorNameDark,
#icpInfoDark {
    color: rgb(177, 177, 177);
}

.authorName:hover,
.icpInfo:hover {
    color: #00b8a5;
}
#authorNameDark:hover,
#icpInfoDark:hover {
    color: #0061bd;
}

/* 今日诗句 */
.poemWords {
    font-size: 14px;
}

@media all and (max-width: 1024px) {
    .footer {
        display: none;
    }
}
