.background {
    background: url('./bg.jpg') no-repeat center fixed;
    /* background: url('./bg.jpg') 0 / cover fixed; */
    background-size: cover;
}

.appBox {
    position: relative;
    min-height: calc(100vh - 80px);
}
