.background {
    background: url(./bg.jpg) 0 / cover fixed;
    background-size: cover;
}

.appBox {
    position: relative;
    min-height: calc(100vh - 80px);
}

@media all and (max-width: 1024px) {
    .appBox {
        min-height: 100vh;
    }
}
